{% extends 'base.html.twig' %}

{% block body %}

<h1> recent answers </h1>

<div id="answers">
  {% for answer in answer_pager %}
    <div class="answer">
      <h2><a href="{{ path('question_show', {stripped_title: answer.question.strippedTitle}) }}">{{ answer.getQuestion.getTitle }}</a></h2>
       {% include 'answer/_answer.html.twig' %}
    </div>
  {% endfor %}
</div>

{% endblock %}
