    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if static_call('App\\Entity\\ReportQuestionQuery', 'isQuestionReportedByUser', [question.id, app.user.id]) %}
            [{% trans %}reported{% endtrans %}]
        {%  else %}
            <a id="{{ 'report_to_moderator' ~ question.id }}" href="" data-question="{{ question.id }}">[{% trans %}report to moderator{% endtrans %}]</a>
        {% endif %}
    {% endif %}

