{% extends 'base.html.twig' %}

{% block body %}

<h1>popular questions</h1> 

{% include 'question/_list.html.twig' with {'question_pager': question_pager, 'rule': 'question_list'}  %}

{% endblock %}
