{% extends 'base.html.twig' %}

{% block body %}

 
<div class="interested_block">
  {{ include('question/_interested_user.html.twig') }}
</div>
 
<h2>{{ question.title }}</h2>
 
<div class="question_body">
  {{ question.body }}
</div>

<div id="answers">
  {% for answer in question.answers  %}
    <div class="answer">
      {% include 'answer/_answer.html.twig' %}
    </div>
  {% endfor %}
</div>

{% endblock %}
