<h1>{% trans %}Askeet: Site maintenance{% endtrans %}</h1>
 
<p>{% trans %}The askeet website is currently being updated{% endtrans %}.</p>
 
<p>{% trans %}Please try again in a few minutes{% endtrans %}.</p>
 
<p><i>{% trans %}The askeet team{% endtrans %}</i></p>
