{% extends 'base.html.twig' %}

{% block body %}

<h1>popular questions for {{ tag }}</h1> 

{% include 'question/_list.html.twig' with {'question_pager': question_pager, 'rule': 'tag_recent'}  %}

{% endblock %}
